.hero {
    text-align: center;
    padding: 50px;
    background-color: #1e1e1e;
}

.hero h2 {
    font-size: 2rem;
    color: #0ff;
}

.hero p {
    font-size: 1.2rem;
    color: #ddd;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0ff;
    color: #121212;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff0;
}
